Candidate-Retrieval/logs
Candidate-Retrieval/project/project
Candidate-Retrieval/project/target
Candidate-Retrieval/target
Candidate-Retrieval/tmp
Candidate-Retrieval/.history
Candidate-Retrieval/dist
Candidate-Retrieval/out
Candidate-Retrieval/RUNNING_PID

**/.idea
**/*.iml
**/__pycache__
*.pyc
*.pyo

QA-Frontend/static/js/main.js
QA-Frontend/static/js/main.js.map
QA-Frontend/static/js/app/*.js
QA-Frontend/static/js/app/*.js.map
QA-Frontend/static/node_modules
QA-Frontend/static/styles/*.css
QA-Frontend/static/styles/*.css.map